@import ../style/root.sass
body
    position: relative
form
    overflow-y: auto
    background: $container
    width: 95%
    margin: 20px auto 50px auto
    height: auto
    border-radius: 20px
    padding: 20px
    display: flex
    flex-direction: row
    #svg
        margin-right: 20px
        &:hover
            cursor: pointer
    #assign
        margin-top: 30px
        display: flex
        justify-content: space-between
    select
        margin-bottom: 30px
        width: 100%
    input
        width: 100%
        margin-bottom: 30px
    textarea
        width: 100%
        margin-bottom: 30px
    img
        height: 50px
        width: 50px
        border-radius: 50%
        background: $passive
        margin-right: 50px
    #ticketcreator
        flex-wrap: wrap
        display: flex
        width: 100%
        height: 100%
    #right-form
        // border: solid 2px black
        min-width: 40%
        width: auto
        margin: 0px auto 0px auto
        display: flex
        padding: 20px
        flex-direction: column
        button
            margin: 0px 10px 0px 10px
        #imgs
            img
                margin-right: 10px

    #left-form
        // border: solid 2px black
        margin: 0px auto 0px auto
        width: auto
        display: flex
        flex-direction: column
        min-width: 40%
#modal
    z-index: 99
    display: flex
    background: $container
    border-radius: 10px
    position: absolute
    max-width: 80vw
    width: 70vw
    height: 50vh
    top: 25vh
    bottom: 25vh
    left: 15vw
    right: 15vw
    pointer-events: all!important
    .modal-content
        position: relative
        margin: 20px
        border-top-left-radius: 20px
        border-bottom-left-radius: 20px
        height: 90%
        overflow-y: auto
        &::before
            content: "You can add up to 3 person per task"
            text-align: center
            font-size: 2rem
            font-weight: 600
        .user
            margin: 5px 20px 5px 20px
            padding: 10px
            border-radius: 10px
            display: flex
            align-items: center
            &:hover
                background: $container
                cursor: pointer
            img
                width: 70px
                height: 70px
                border-radius: 50%
            .username
                font-size: 1.3rem
                margin-left: 50px
    button
        z-index: 999!important
        width: 100px
        position: absolute
        left: 30vw
        right: 30vw
        bottom: -4vh

.added
    background-color: $active
    color: $passive

@media screen and ( max-width: 1200px )
    button
        margin: 0px 10px 0px 10px!important
    .headline
        margin-top: 80px
