$background: #190e4d
$active: #ea3367
$passive: #ffffff
$font-light: #fce5eb
$font-dark: #545454
$outside: #e12b70
$container: #f4f3fb

body
    overflow: hidden
    width: 100vw
    margin: 0px
    height: 100%
    display: flex
    flex-direction: row
    header
        order: 1
    main
        position: relative
        margin: 0px 5% 0px 5%
        width: calc( 90vw - 150px )
        height: calc( 100vh - 50px )
        background: $passive
        order: 2
#headline
    color: $background
    margin-top: 50px
.flex
    display: flex
.fw
    flex-wrap: wrap
